:root {
  --color-primary: #ad949b;

  --color-secondary: #563738;

  --color-tertiary: #a06e53;

  --color-quaternary: #cc784b;

  --color-quinary: #eeb57b;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before *::after {
  border-style: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

.c1 {
  color: var(--color-primary);
}

.bg-c1 {
  background-color: var(--color-primary);
}

.c2 {
  color: var(--color-secondary);
}

.bg-c2 {
  background-color: var(--color-secondary);
}

.c3 {
  color: var(--color-tertiary);
}

.bg-c3 {
  background-color: var(--color-tertiary);
}

.b-c3 {
  border-color: var(--color-tertiary);
}

.c4 {
  color: var(--color-quaternary);
}

.bg-c4 {
  background-color: var(--color-quaternary);
}

.c5 {
  color: var(--color-quinary);
}

.bg-c5 {
  background-color: var(--color-quinary);
}

.focus-search {
  transition: all 0.2s ease-in;
}

.focus-search:focus {
  width: 95%;
}
